
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@400,600..900;1,100..900&display=swap');


*{
    margin:0;
    padding: 0;
}

body{
    /* height:100vh; */
    box-sizing: border-box;
    background-color: #733f5f;
    color: aliceblue;
}

.cabecalho{
    padding:2% 15% 2% 15%;
    gap: 80px;
    background-color:  #95527b;
}

.cabecalho__menu{
    display: flex;
    justify-content: flex start;
    align-items: center;
}

.cabecalho__menu_link{
    padding: 10px 15px;
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}


.titulo-destaque{
    color:#dca2c4;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo_texto{
font-size: 24px;
font-family:"Montserrat", sans-serif; ;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__link_subtitulo{
    font-family: 'Krona One', sans serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 10px solid  #b981a2;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 600;
    padding: 21.5px 0;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family:"Montserrat", sans-serif;;
}
.apresentacao__links_link:hover{
    background-color:#8a4d72;
}


.first-section {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10% 15%;
    align-items: center;
    justify-content: space-between;
}

.first-section div {
    display: flex;
    width: 100%;
  }

.first-section h3 {

    font-family:"Krona One", sans-serif;
    color: #dca2c4;
    font-weight: 600;
    justify-content: center;
    font-size:  36px; 
    gap: 40px;
    padding: 21.5px 0;
   
}

.first-section p {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.5; 
    font-family:"Montserrat", sans-serif;
    align-items: center;
    justify-content: space-around;
    

}

.second-section {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10% 15%;
    align-items: center;
    justify-content: space-between;
}

.second-section h4{
    font-family:"Krona One", sans-serif;
    color: #dca2c4;
    font-weight: 600;
    justify-content: center;
    font-size:  36px; 
    gap: 40px;
    padding: 21.5px 0;
    }

.second-section div{
    display: flex;
    width: 100%;
}

.second-section p{
    display: flex;
    align-items: center;
    font-size: 24px; 
    line-height: 1.5; 
    font-family:"Montserrat", sans-serif;
    justify-content: space-around;
}


html {
    scroll-behavior: smooth;
  }

.rodape_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    font-size: 24px;
}

.lista_link{
    margin-left: 1em;

  
}

.rodape a{
    text-decoration: none;
    color: #e7e7e7;
    font-family:'Montserrat', sans-serif;
}

.rodape h5{
font-family:"Krona One", sans-serif ;
font-size: 36px;
color:  #dca2c4;
margin: 5%;
}
.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__texto {
    margin: 1em 0;
    font-size: 24px;
}

.segundo-rodape{
    text-align: center;
}